@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

input[type=range] {
  -webkit-appearance: none;
  background-color: transparent;
  width: 70%;
  --accent-color: red;
  @apply appearance-none w-full 
    m-8 border-none
    rounded-sm
}

input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  @apply bg-lime-200 border-none rounded-full h-7 w-7;
  cursor: pointer;
  margin-top: -13px;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  /* border-radius: 50%; */
  @apply bg-lime-200 border-none rounded-full h-7 w-7;
  cursor: pointer;
  margin-top: -14px;
}

input[type=range]::-webkit-slider-runnable-track{
  @apply bg-lime-500 border-none h-[5px] w-full;
}

input[type=range]::-moz-range-track{
  @apply bg-lime-500 border-none h-[5px] w-full;
}