@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-900;
  user-select: none;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

input[type=range] {
  -webkit-appearance: none;
  background-color: transparent;
  width: 70%;
  @apply appearance-none w-full 
    border-none rounded-sm my-4; 
}

input[type=range]::-webkit-slider-thumb{
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  @apply bg-violet-300 border-none rounded-full h-5 w-5;
  cursor: pointer;
  margin-top: -8px;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  /* border-radius: 50%; */
  @apply bg-violet-300 border-none rounded-full h-5 w-5;
  cursor: pointer;
  margin-top: -8px;
}

input[type=range]::-webkit-slider-runnable-track{
  @apply bg-slate-700 border-none h-[3px] w-full;
}

input[type=range]::-moz-range-track{
  @apply bg-slate-700 border-none h-[3px] w-full;
}